.navbar {
  background-color: black;
}

nav .navbar-nav li a {
  color: white !important;
  margin: 5px 30px;
  font-size: 20px;
}

li a:hover {
  background-color: #2a3529;
}

#form .inputBox{
  position: relative;
}

#text{
  display: block;
  color: #000;
  font-weight: 300;
  padding: 5px;
}

#form.invalid .inputBox::before
{
  content: '';
  position: absolute;
  right: 10px;
  top: 10px;
  width: 12px;
  height: 12px; 
}

#form.valid .inputBox::before
{
  content: '';
  position: absolute;
  right: 10px;
  top: 10px;
  width: 12px;
  height: 12px;
}


h2{
  font-family:cursive;
  background-color: #123350;
  color: #c5d1d4;
  padding: 5px;
  text-align: center;
}

h4{
  margin: 20px;
  padding: 5px;
  background-color: #54768c;
  color: #f0f0ec;
  text-align: center;
  border-radius: 10px;

}

.gezi p{
  margin: 5px;
  padding: 10px 20px;
}



