.navbar {
  background-color: black;
}

nav .navbar-nav li a {
  color: white !important;
  margin: 5px 30px;
  font-size: 20px;
}

li a:hover {
  background-color: #2a3529;
}

#form .inputBox{
  position: relative;
}

#text{
  display: block;
  color: #000;
  font-weight: 300;
  padding: 5px;
}

#form.invalid .inputBox::before
{
  content: '';
  position: absolute;
  right: 10px;
  top: 10px;
  width: 12px;
  height: 12px; 
}

#form.valid .inputBox::before
{
  content: '';
  position: absolute;
  right: 10px;
  top: 10px;
  width: 12px;
  height: 12px;
}



